@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}
@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 40px #00ffff, 0 0 80px #00ffff;
    opacity: 0.7;
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite;
}
@keyframes pulse-multicolor {
  0% {
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
  }
  25% {
   
    
  }
  50% {

    box-shadow: 0 0 20px #1e90ff, 0 0 40px #1e90ff;
  }
  
  100% {
    box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
  }
}

.animate-pulse-multicolor {
  animation: pulse-multicolor 2s infinite ease-in-out;
}

